DB_HOST=<YOUR DB HOST>
DB_PORT=<YOUR DB PORT>
DB_NAME=<YOUR DB NAME>
DB_USER=<YOUR DB USERNAME>
DB_PASSWORD=<YOUR DB PASSWORD>
API_PORT=<MACHINE PORT FROM WHERE THE API WILL BE ACCESSED>
CORS_PRIVATE_ORIGINS=<YOUR ORIGINS PERMITTED TO PUT,UPDATE,DELETE>